/*
 * Front-end.
 */

/*
 * For a fancier styling of the following, see
 * <https://cmsimpleforum.com/viewtopic.php?t=7933&p=58481#p58468>.
 */
.twocents_loading {
    visibility: hidden;
}
.twocents_comments {
}
.twocents_pagination {
    margin: 1em 0;
    font-size: small;
    text-align: right;
}
.twocents_button {
    display: inline-block;
    border: 1px solid #888;
    padding: 0.1em 0.5em;
    text-decoration: none;
    cursor: pointer;
}
.twocents_comment {
    overflow: hidden;
}
.twocents_attribution {

}
.twocents_message {
    margin: 1em 0 1em 1em;
}
.twocents_hidden {
    opacity: 0.7;
    /*background: #fbb;*/
}
.twocents_admin_tools {
    float: right;
}
.twocents_admin_tools form {
    display: inline-block;
}
.twocents_admin_tools button {
    margin-left: 0.5em;
}
.twocents_form {
    width: 30em;
    max-width: 99%;
    margin: 2em 0;
}
.twocents_form > div {
    margin: 1em 0;
}
.twocents_form label span {
    display: block;
}
.twocents_form label input, .twocents_form textarea {
    width: 99%;
}
.twocents_form textarea {
    height: 12em;
}
.twocents_editor_toolbar {
    text-align: center;
}
.twocents_editor_toolbar button {
    margin: 0;
}
.twocents_editor {
    min-height: 12em;
    border: 1px solid #888;
}
.twocents_form_buttons {
    width: 99%;
    text-align: center;
}
.twocents_form_buttons button {
    margin: 0 0.5em;
}
.twocents_scroll_marker {
    height: 1em;
}
.twocents_write_button {
    margin: 1em 0;
}
/*
 * Back-end.
 */

.twocents_icon {
    float: left;
    margin: 0 16px 0 0;
}
.twocents_license {
    text-align: justify;
}
.twocents_syscheck {
    list-style: none;
    padding-left: 0;
}
